.main-div {
  height: inherit;
  width: inherit;
}

.str-testimonials {
  display: flex;
  justify-content: center;
  font-family: RalewayLight;
  font-size: 1.5em;
  padding-top: 30px;
  color: #f7f6f9;
}

.str-customers-told {
  display: flex;
  justify-content: center;
  font-family: RalewayLight;
  font-size: 0.8em;
  color: #f7f6f9;
  margin-top: 2%;
}

image {
  height: auto;
  widows: 10px;
}

.carousel {
  height: 450px;
}

owl-carousel-o {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

// редагування формату для всіх активних вкладок на каруселі
::ng-deep .owl-theme .active {
  z-index: -1111;
}

// редагування кнопок переходу
::ng-deep .owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

// редагування формату для центальної вкладки на каруселі
::ng-deep .owl-theme .center .carousel-item {
  background-color: red;
  transform-origin: center center;
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

::ng-deep .carousel-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: wheat;
  margin: 10px;
  height: 200px;
  width: 300px;
}

::ng-deep .owl-carousel .owl-item {
  display: flex;
  justify-content: center;
  align-content: center;
}