.main-div {
  height: inherit;
  width: inherit;
}

.str-testimonials {
  display: flex;
  justify-content: center;
  font-family: RalewayLight;
  font-size: 1.5rem;
  padding-top: 30px;
  color: #f7f6f9;
}

.str-customers-told {
  display: flex;
  justify-content: center;
  font-family: RalewayLight;
  font-size: 0.8rem;
  color: #f7f6f9;
  margin-top: 2%;
}

.carousel-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: wheat;
  height: 200px;
  width: 300px;
}

image {
  height: auto;
  widows: 10px;
}

.carousel {
  height: 450px;
}

owl-carousel-o {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

// редагування формату для всіх активних вкладок на каруселі
/* ::ng-deep .owl-theme .active {
} */

// редагування формату для центальної вкладки на каруселі
::ng-deep .owl-theme .center .carousel-item {
  background-color: red;
}
