@font-face {
  font-family: "RalewayMedium";
  src: url("../../assets/fonts/Raleway-Medium.ttf");
}

.main-div {
  height: inherit;
  width: inherit;
}

.str-testimonials {
  display: flex;
  justify-content: center;
  font-family: RalewayMedium;
  font-size: 1.5rem;
  padding-top: 30px;
  color: #f7f6f9;
}

.str-customers-told {
  display: flex;
  justify-content: center;
  font-family: RalewayMedium;
  font-size: 0.8rem;
  color: #f7f6f9;
  margin-top: 2%;
}

.carousel-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: wheat;
  height: 200px;
  width: 300px;
}

image{
  height: auto;
  widows: 10px;
}


.carousel{
 height: 450px;

}

owl-carousel-o{
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}