@font-face {
    font-family: "RalewayBold";
    src: url("/../../Raleway-Bold.ttf");
  }
  
  @font-face {
    font-family: "RalewayLight";
    src: url("/../../Raleway-Light.ttf");
  }
  
  @font-face {
    font-family: "RalewayMedium";
    src: url("/../../Raleway-Medium.ttf");
  }
  
  