mat-sidenav-container, mat-sidenav {
    height: 100%;
}

mat-sidenav-content{
    background: url(../assets/images/background.png) no-repeat center/cover;
}
 
mat-sidenav {
    width: 250px;
}

app-sidenav-list{
    position: fixed;
}