@font-face {
  font-family: "RalewayMedium";
  src: url("../../assets/fonts/Raleway-Medium.ttf");
}

.main-div {
  height: inherit;
  width: inherit;
}

.str-products {
  display: flex;
  justify-content: center;
  font-family: RalewayMedium;
  font-size: 1.5vw;
  margin-top: 6vh;
}

.str-list-products {
  display: flex;
  justify-content: center;
  font-family: RalewayMedium;
  font-size: 0.8vw;
  color: #6d6d6d;
  margin-top: 2vh;
}

.img-container {
  margin-top: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;



  height: 35vh;;
}

.img-box {
  padding: 7px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vw;

  background-color: white;
  font-family: RalewayMedium;
  font-size: 0.8vw;
  color: #6d6d6d;
}

img {
  height: auto;
  width: 16vw;
}

p {
  padding-top: 10px;
  padding-bottom: 15px;
}

a {
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  font-family: RalewayMedium;
  font-size: 0.8vw;
  color: #62b6c2;
}
