<div class="main-div">
  <div class="str-products">
    Most Popular Products
  </div>
  <div class="str-list-products">
    This is the list of products that are most interested in users
  </div>
  <div class="img-container">
    <div class="img-box">
      <img src="../../assets/images/product1.png" alt="">
      <p>Hubstaff Directory</p>
    </div>
    <div class="img-box">
      <img src="../../assets/images/product2.png" alt="">
      <p>Jira 2017</p>
    </div>
    <div class="img-box">
      <img src="../../assets/images/product3.png" alt="">
      <p>Slack Pro</p>
    </div>
    <div class="img-box">
      <img src="../../assets/images/product4.png" alt="">
      <p>TraveChat</p>
    </div>
    <div class="img-box">
      <img src="../../assets/images/product5.png" alt="">
      <p>Network</p>
    </div>
    <div class="img-box">
      <img src="../../assets/images/product6.png" alt="">
      <p>Time Camp</p>
    </div>
  </div>
  <a href="">All products</a>
</div>
