<div class="main-div">
  <div class="flex-container">
    <div class="flex-container-row">
      <div class="part1">
        Quick Search for Your
      </div>
      <div class="part2">
        Perfect Product
      </div>
    </div>
    <div class="innovate">
      INNOVATE • LIST • CONNECT
    </div>
    <div class="search">
      <form>
        <select>
          <option value="Categoty">Categoty</option>
          <option value="Categoty1">Categoty1</option>
          <option value="Categoty2">Categoty2</option>
        </select>
        <input type="text" placeholder="">
        <button class="button" type="submit">START SEARCHING</button>
      </form>
    </div>
  </div>
  <div class="buttons-bottom">
    <a href="">
      <div>
        <img src="../../assets/images/icon_category.png" />
      </div>
      <div>
        All categories
      </div>
    </a>
    <a href="">
      <div>
        <img src="../../assets/images/icon_howitswork.png" />
      </div>
      <div>
        How it works?
      </div>
    </a>
  </div>
</div>
