<div class="box">
  <div class="flex-container font1">
    <div class="flex-item part1">
      Quick Search for Your
    </div>
    <div class="flex-item part2">
      Perfect Product
    </div>
  </div>
  <div class="flex-container innovate font2">
    <div class="flex-item">
      INNOVATE
    </div>
    <div class="flex-item">
       • LIST • 
    </div>
    <div class="flex-item">
      CONNECT
    </div>
  </div>
  <div>
      <div class="d1">
          <form>
          <input type="text" placeholder="">
          <button type="submit">START SEARCHING</button>
          </form>
        </div>
  </div>
</div>
<div>

</div>
