<div class="main-div">
  <div class="flex-container">
    <div class="flex-container-row">
      <div class="part1">
        Quick Search for Your
      </div>
      <div class="part2">
        Perfect Product
      </div>
    </div>
    <div class="innovate">
      <div>innovate</div>
      <div>list</div>
      <div>connect</div>
    </div>
    <div class="search">
      <form>
        <mat-form-field>
            <select matNativeControl required>
                <option value="Category">Category</option>
                <option value="Category-1">Category-1</option>
                <option value="Category-2">Category-2</option>
              </select>
        </mat-form-field>
        <input type="search" placeholder="">
        <button class="button" type="submit">start searching</button>
      </form>
    </div>
  </div>
  <div class="buttons-bottom">
    <a href="">
      <div>
        <img src="../../assets/images/icon_category.png" />
      </div>
      <div>
        All categories
      </div>
    </a>
    <a href="">
      <div>
        <img src="../../assets/images/icon_howitswork.png" />
      </div>
      <div>
        How it works?
      </div>
    </a>
  </div>
</div>
