.one {
	height: 100vh;
	background-image: url("src/assets/images/background.png");
	background-size: cover;
}
.two {
	height: 95vh;
	background-color: #f7f7f7;
}
.three {
	height: 85vh;
	background-color: #4dadbb;
}
.four {
	height: 23.6vh;
	background-color: #323232;
}
.five {
	height: 6.2vh;
	background-color: #272727;
}

app-products{
	height: inherit;
	width: inherit;
}

app-footer{
	height: inherit;
	width: inherit;
}

app-carousel{
	height: inherit;
	width: inherit;
}

app-bottom-menu{
	height: inherit;
	width: inherit;
}

app-search{
	height: inherit;
	width: inherit;
}