.one {
	height: 100vh;
	background-image: url("src/assets/images/background.png");
	background-size: cover;
}
.two {
	height: 100vh;
	background-color: #f7f7f7;
}
.three {
	height: 85vh;
	background-color: #4dadbb;
}
.four {
	height: 15vh;
	background-color: #323232;
}
.five {
	height: 5vh;
	background-color: #272727;
}