.main-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.img-box {
  width: 65px; 
}

img {
  height: auto;
  width: 100%;
}

a {
  margin: 13px;
  font-family: 'RalewayMedium';
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
  font-size: 0.6rem;
}

a:hover,
a:active {
  color: grey;
}

.navigation-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0%;
  margin-top: 20px;
}
